/* Container */
.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Form */
form {
  display: flex;
  flex-direction: column;
}

/* Labels */
form label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Inputs */
form input[type="text"], form textarea, form select, form input[type="file"], form input[type="submit"] {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

form input[type="text"]:focus, form textarea:focus, form select:focus, form input[type="file"]:focus, form input[type="submit"]:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Submit Button */
form input[type="submit"] {
  background-color: #49cad0;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

form input[type="submit"]:hover {
  background-color: #e47e10;
}

/* Error Message */
.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Upload Sections */
.uploadSection {
  display: none;
}

.show {
  display: block;
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Post Type Select */
#postType {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

#postType option {
  color: #333;
  font-size: 16px;
}
